.Global-musicFont {
    font-family: Bravura;
    font-size: 24px;
    fill: black;
}

.Global-textFont {
    font-family: Avenir;
    fill: black;
}

.Score-rect {
    fill: white;
}

.Score-title {
    font-size: 18px;
    dominant-baseline: hanging;
}

.Part-name {
    font-size: 16px;
    text-anchor: end;
    dominant-baseline: middle;
}
.Part-corner {
    stroke: rgb(206, 206, 206);
    fill: none;
}


.Measure-barLine {
    stroke: black;
    fill: none;
}
.Measure-number {
    fill: black;
    font-size: 15px;
}
.Measure-ref {
    stroke: pink;
    stroke-opacity: 0;
    fill: none;
}

.StaffClef-staff_line {
    stroke: black;
}
.StaffClef-clef {
    fill: black;
}
.StaffClef-key_signature {
    fill: black;
}
.StaffClef-ref {
    stroke: pink;
    stroke-opacity: 0;
    fill: none;
}

.Note-note_head {
    fill: black;
}
.Note-accidental {
    fill: black;
}
.Note-stem {
    stroke: black;
}
.Note-ledger_line {
    stroke: black;
}
