.Score-rect {
    fill: white;
}
.Part-name {
    fill: black;
    font-size: 16px;
    font-family: Arial;
    text-anchor: end;
}
.Part-corner {
    stroke: rgb(206, 206, 206);
    fill: none;
}

.Staff-stafflines {
    stroke: black;
    fill: none;
}

.Clef-clef {
    fill: black;
    font-size: 24px;
    font-family: Bravura;
}